
.top-main {
    display: flex;
    flex-flow: row nowrap;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.main-image-container{
    display: flex;
}

.main-profile-photo {
    height: 50vh;
    width: auto;
    margin: 15px;
    background:  radial-gradient(rgba(201, 28, 28, 0.3), rgb(201, 28, 28));
    border-radius: 150px;
}

.main-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
    margin-bottom: 7rem;
}

.main-heading{
    font-size: 3rem;
    padding: 2rem;
    color: #fff;
}

.main-list-container{
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1em;
}

.main-subtitle{
    font-size: 2.3rem;
}

.main-list{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    list-style: none;
}

.main-list-items{
    font-size: 1.7em;
    margin: 1.6% 0;
}

.main-list-items span {
    margin-right: 1em;
}

.bottom-main {
    display: flex;
    height: 28vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}