
.top-main {
    display: flex;
    flex-flow: row nowrap;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.main-image-container{
    display: flex;
}

.main-profile-photo {
    height: 50vh;
    width: auto;
    margin: 15px;
    background:  radial-gradient(rgba(201, 28, 28, 0.3), rgb(201, 28, 28));
    border-radius: 150px;
}

.main-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
    margin-bottom: 7rem;
}

.main-heading{
    font-size: 3rem;
    color: #fff;
}

.main-list-container{
    margin: 0 1em 1em;
    background-color: rgba(39, 39, 39, 0.5);
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1em;
}

.main-subtitle{
    font-size: 2.3rem;
    color: #fff;
}

.main-list{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    list-style: none;
}

.main-list-items{
    font-size: 1.7em;
    margin: 1.6% 0;
    color: #fff;
}

.main-list-items span {
    margin-right: 1em;
}

.abtme-main-btn {
    text-decoration: none;
    margin: 0 1em 1em;
}

.bottom-main {
    display: flex;
    height: 28vh;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1200px) {
    .top-main {
        height: 52vh;
    }
    
    .main-profile-photo{
        height: 35vh;
    }
    
    .main-data-container {
        margin-bottom: 0;
        height: 100%
    }
    
    .main-heading {
        font-size: 2rem;
        padding: 1rem;
    }
    
    .main-list-container {
        padding: 0.5em;
    }
    
    .bottom-main {
        height: 37vh;
    }
    
}

@media (max-width: 805px) {

    .background-image{
        background-size: auto;
        height: auto;
        background-repeat: repeat;
        background-position: bottom;
    }
    
    .top-main{
        height: auto;
        flex-flow: column nowrap;
    }
    
    .main-image-container{
        display: block;
    }
    
    .main-data-container{
        align-items: center
    }
    
    .main-heading{
        text-align: center;
    }
    
    .bottom-main{
        height: auto;
        flex-flow: column nowrap;
    }
}