
.projectN-container{
    width: 90%;
    max-width: 600px;
    margin: 2rem auto;
}

.project-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.heading{
    margin-top: 1.5em;
}

.project-li{
    margin: 1rem;
    padding: 5px;
    border-bottom: 2px solid #d32f2f;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width:805px) {
    
    .project-ul{
        justify-content: center;
    }
}