.header-container{
    background-image: linear-gradient(to right, rgba(32, 201, 178, 0.61), rgba(171, 81, 199, 0.6)) ;
    border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header-topbar{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.fotito{
    width: 10vw;
    height: auto;
    border: 2px #8e1616 solid;
    display: flex;
    align-items: center;
}